Package: prog4
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: k3st3rr <denigoy62@gmail.com>
Description: Program4 from Lec3
